In [1]:
# 1.Write a program to store the names of your following members of family: john, chan, yuen, matt.
# Put them in a list named list1
list1=["john","chan","yuen","matt"]

In [2]:
# 2.Print the list.
list1

['john', 'chan', 'yuen', 'matt']

In [3]:
# 3.Grab the 2nd element of the list and print it.
list1[1]

'chan'

In [4]:
# 4.Change the 2nd element to the name of your friend and print the list again.
list1[1]="Niket"
list1

['john', 'Niket', 'yuen', 'matt']

In [5]:
# 5.Now, try to create a list of list named list2 with each element as [name, age] of the family members.
list2=[["john",10],["chan",15],["yuen",20],["matt",25]]
list2

[['john', 10], ['chan', 15], ['yuen', 20], ['matt', 25]]

In [6]:
# 6.Add item 7000 after 6000 in the following Python List
# list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# Final output should look like this:
# list1 = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list[2][2].append(7000)
list

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [7]:
# 7.Given a Python list, find value 20 in the list, and if it is present,  
# replace it with 200. Only update the first occurrence of a value.
# list1 = [5, 10, 15, 20, 25, 50, 20]
# Expected output:
# list1 = [5, 10, 15, 200, 25, 50, 20]
list1 = [5, 10, 15, 20, 25, 50, 20]
if 20 in list1:
    x=list1.index(20)
    list1[x]=200
list1

[5, 10, 15, 200, 25, 50, 20]

In [8]:
# 8.Create a tuple of 5 colours.
colors=("red","blue","green","yellow","brown")
colors

('red', 'blue', 'green', 'yellow', 'brown')

In [9]:
# 9.Unpack the following tuple into 4 variables
# aTuple = (10, 20, 30, 40)
aTuple = (10, 20, 30, 40)
(a,b,c,d)=aTuple
print(a)
print(d)

10
40

In [10]:
list1=[]*3

In [11]:
list1=[]

In [16]:
list1=['a','b']
list2=['c','d']
list1.extend(list2)
newlist

['a', 'b', 'c', 'd']

In [17]:
a=("orange")
print(type(a))

<class 'str'>

In [18]:
lst=[1,2,3,4]
lst[1:2]=[7,8]
lst

[1, 7, 8, 3, 4]